/config/app.php
# CakePHP
#/app/Config/core.php
#/app/Config/database.php

/app/tmp/cache/*
!/app/tmp/cache/
!/app/tmp/cache/empty

/app/tmp/cache/models/*
!/app/tmp/cache/models/
!/app/tmp/cache/models/empty

/app/tmp/cache/persistent/*
!/app/tmp/cache/persistent/
!/app/tmp/cache/persistent/empty

/app/tmp/cache/views/*
!/app/tmp/cache/views/
!/app/tmp/cache/views/empty

/app/tmp/logs/*
!/app/tmp/logs/
!/app/tmp/logs/empty

/app/tmp/sessions/*
!/app/tmp/sessions/
!/app/tmp/sessions/empty

/app/tmp/tests/*
!/app/tmp/tests/
!/app/tmp/tests/empty

/app/logs/*
!/app/logs/
!/app/logs/empty

/webroot/img/*
!/webroot/img/
!/webroot/img/empty

/webroot/img/poster/*
!/webroot/img/poster/
!/webroot/img/poster/empty

/webroot/img/album/*
!/webroot/img/album/
!/webroot/img/album/empty


/webroot/film_upload/*
/webroot/film_user/*
/webroot/serie_upload/*
/webroot/serie_user/*
/webroot/music_upload/*
