/config/app.php
/config/installed.txt
# CakePHP
#/Config/core.php
#/Config/database.php

tmp/cache/*
!tmp/cache/
!tmp/cache/empty

tmp/cache/models/*
!tmp/cache/models/
!tmp/cache/models/empty

tmp/cache/persistent/*
!/tmp/cache/persistent/
!/tmp/cache/persistent/empty

tmp/cache/views/*
!tmp/cache/views/
!tmp/cache/views/empty

tmp/logs/*
!tmp/logs/
!tmp/logs/empty

tmp/sessions/*
!tmp/sessions/
!tmp/sessions/empty

tmp/tests/*
!tmp/tests/
!tmp/tests/empty

logs/*
!logs/
!logs/empty

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
/log/cli-debug.log
/log/cli-error.log
/log/debug.log
/log/error.log
!/logs/empty




/webroot/film_upload/*
/webroot/film_user/*
/webroot/serie_upload/*
/webroot/serie_user/*
/webroot/music_upload/*
